DATABASE_URL="postgresql://postgres:[YOUR-PASSWORD]@db.[project-ref].supabase.co:5432/postgres?schema=public"
DIRECT_URL="postgresql://postgres:[YOUR-PASSWORD]@db.[project-ref].supabase.co:5432/postgres?schema=public"
JWT_SECRET="your_jwt_secret_key"
PORT=5001
CLIENT_URL="http://localhost:5173"
